nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color:black;
}
nav{
    margin-top:-7px;
}
nav li{
    display: inline;
    padding:50px;
}
li a{
    color:white;
}
table{
    width:100%;
}
body{
    margin: 0;
    background-color:beige;
}
header{
    text-align: center;
    background-color:antiquewhite;
}
article{
    width:55%;
    text-align: center;
	margin:auto;
}
footer{
    background-color:black;
    color:white;
    text-align: center;
}
#time{
    color:white;
    background-color:black;
    margin:0px;
}
article h1{
    text-decoration: underline;
}
th{
    font-weight: normal;
}
