body{
    margin: 0;
    //background-color: beige;
    text-align: center;
    background-image: url("../images/bg.jpg");
}
header{
    text-align: center;
    text-decoration: underline;
    background-color: black;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer{
    background-color:black;
    color:white;
    margin-bottom:40px;
	//margin-top:27px;
}
table p,h1{
    font-weight:normal;
}
.one{
    font-family: Quicksand;
    font-weight:700;
    font-size: 35px;
    line-height: 37px;
}
table p,h1,{
    font-style: normal;
}
#t1{
    border: solid;width:100%;border-spacing: 0;border-collapse: collapse;background-color:#EEEEEF;
}
.para{
    background-color:#EEEEEF;font-size: 30px;border-bottom: solid;border-top:solid;
}
a{
    text-decoration: none;
}
.image{
    display:block;width:100%;
}
#start{
    margin-left:10%;margin-right:10%;
}
